
* {
    text-align: center;
    font-family: 'Cutive Mono', monospace;
}

body{
  background-image: url("abstract-backdrop-background-921776.jpg");
}



.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
 img{
   border-radius: 20px;
 }
 .container{
   background-color: #91C7BC;
 }
